.body1 {
    display: flex;
    flex-direction: column;
    background-color: #1f2937;
    color: white;
}

.container1 {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding-left: 100px;
    padding-right: 100px;
}

ul {
    display: flex;
    list-style: none;
}

li {
    padding-left: 10px;
    font-family: Arial, Helvetica, sans-serif
}

.container3 {
    display: flex;
    justify-content: space-between;
    padding-bottom: 50px;
}

#img1 {
    width: 350px;
    height: 200px;
    padding-right: 100px;
}

.container2 {
    padding-left: 100px;
}

.para1 {
    width: 300px;
}

button {
    background-color: #3882f6;
    color: white;
    border-radius: 4px;
    border-color: #3882f6;
    font-family: Arial, Helvetica, sans-serif;
}

h1, h2, .para1 {
    font-family: Arial, Helvetica, sans-serif;
}

.pictures {
    width: 100px;
    height: 100px;
    border-radius: 25px;

    
}

.container4 {
    display: flex;
    gap: 50px;
    justify-content: center;
}

h3 {
    text-align: center;
    font-family: Arial, Helvetica, sans-serif;
}

.text-image {
    text-align: center;
    width: 100px;
    font-family: Arial, Helvetica, sans-serif;
}

.quote {
    width: 350px;
}

.quote-section {
    display: flex;
    flex-direction: column;
    align-items: center;
    background-color: #e5e7eb;
    font-style: italic;
    padding-top: 50px;
    font-size: 20px;
}

.quote-author {
    padding-left: 150px;
    font-weight: bold;
}